@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
}


.Filter::after,
.Filter::before{
  position: absolute;
  top: 0;
  left: 100%;
  content: '';
  display: block;
  align-items: center;
  justify-content: center;
  height:215vh;
  width: 0.2px;
  background-color: black;
  color: black;
}

.main-content::after,
.main-content::before{
  position: absolute;
  top:5%;
  left: 6.5%;
  content: '';
  display: block;
  align-items: center;
  justify-content: center;
  height:0.2px;
  width: 93.5%;
  background-color: black;
  color: black;
}